<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>重置密码</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					在线测试系统| <span>重置密码</span>
				</h1>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="jumbotron">
						<h2>
							重置密码功能
						</h2>
						<p>
							输入相应正确信息，来重置密码,先进行验证，在修改密码，修改成功后会自动跳转用户登陆界面
						</p>
					</div>
				</div>
				<div class="col-md-6 column">
					<form role="form" method="post">
                        {{ form.hidden_tag() }}
						<div class="form-group">
                            <h3>输入要修改密码的账号</h3>
                            <label for="exampleInputAccount1">账号</label>
                            {{ form.account(class='form-control') }}
						</div>
                        <input Type="Submit" Name="action" Value="确认" class="btn btn-default" />
						<div class="form-group">
							 <label for="exampleInputPassword1">新密码</label>
                             {{ form.newPassword(class="form-control") }}
						</div>
						<div class="form-group">
							 <label for="exampleInputPassword2">确认密码</label>
                             {{ form.okPassword(class="form-control") }}
						</div>
                         <input Type="Submit" Name="action" Value="确定" class="btn btn-default"/>
                         {% for message in get_flashed_messages() %}
                            <div class="alert-info">{{ message }}</div>
                        {% endfor %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
  </body>
</html>