<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理界面</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="timedeletes/javascript" src="web/static/timedeletes"></script>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="container">
	<div class="row clearfix">
         <div class="col-md-12 column">
			<div class="page-header">
				<h1>
					在线测试系统 | 管理界面
				</h1>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<ol class="breadcrumb">
						<li>
							 <a href="{{ url_for('web.adminMainUserManager') }}">用户管理</a>
						</li>
						<li>
							 <a href="{{ url_for('web.adminMainTitleManager') }}">题库管理</a>
						</li>
                        <li class="active">
							 <a href="{{ url_for('web.adminMainSearchResult') }}">成绩查询</a>
						</li>
{#                        <li>#}
{#							 <a href="{{ url_for('web.adminMainManagerTest') }}">管理考试</a>#}
{#						</li>#}
                        <li>
							 <a href="{{ url_for('web.adminMain') }}">主界面</a>
						</li>
					</ol>
                    <div class="col-md-6 column">
                        <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="{{ url_for('web.searchOneChooseResult', page=1) }}">查询考试单选题结果</a></li>
                        <li role="presentation"><a href="{{ url_for('web.searchManyChooseResult', page=1) }}">查询考试多选题结果</a></li>
                        <li role="presentation"><a href="{{ url_for('web.searchJudgeResult', page=1) }}">查询考试判断题结果</a></li>
                        </ul>
				    </div>
				<div class="col-md-6 column">
					<form method="post" class="form-inline" role="form">
                        <div class="btn-group">
                            <div class="input-group">
                                {{ form.searchClass(class="btn btn-default dropdown-toggle") }}
                            </div>
                            <div class="input-group">
                                {{ form.searchContent(class="form-control") }}
                            </div>
                        </div>
                        <input Type="Submit" Name="action" Value="查询" class="btn btn-default"/>
					</form>
				</div>
			</div>
                    <div class="col-md-12 column">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>
									 测试编号
								</th>
								<th>
									用户
								</th>
                                <th>
									测试开始时间
								</th>
                                <th>
									单选题目编号
								</th>
                                <th>
									单选是否正确
								</th>
							</tr>
						</thead>
						<tbody>
                        {% for shownum in oneInfo%}
							<tr>
								<td>
									{{ shownum[0] }}
								</td>
								<td>
									{{ shownum[1] }}
								</td>
								<td>
									{{ shownum[2] }}
								</td>
								<td>
									{{ shownum[3] }}
								</td>
                                <td>
									{{ shownum[4] }}
								</td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
					<ul class="pagination">
						<li>
							 <a href="{{ url_for('web.searchOneChooseResult', page= page - 1)}}">Prev</a>
						</li>
                     {% for i in pageSe %}
                         <li>
                             <a href="{{ url_for('web.searchOneChooseResult', page=i) }}">{{ i }}</a>
                         </li>
                     {% endfor %}
						<li>
							 <a href="{{ url_for('web.searchOneChooseResult', page= page + 1)}}">Next</a>
						</li>
					</ul>
                    </div>
				</div>
            </div>
         </div>
	</div>
</div>
  </body>
</html>